body {
    text-align: center;
    background-color: peru;
}

h1 {
    margin-top: 20px;
}

.dice {
    margin: 10px;
}

/* tables side by side */
.row {
    display: flex;
    margin: 0% 20%;
}
  
table {
    width: 98%;
}
  
th, td {
    text-align: center;
    height: 65px;
    background-color: bisque;
}

.thin-row {
    height: 40px;
}

.nes-select {
    position: fixed;
    top: 80px;
    right: 20px;
    width: 220px;
}

#mute {
    position: fixed;
    top: 20px;
    right: 20px;
}

#instruction-btn{
    position: fixed;
    top: 20px;
    left: 20px;
}